[user]
    name = {{ protonPass "pass://lyJLrLkUukBTAmlCxZkSjgakUVfyqPkDTsJMnO7qZHaYIgBUmsagWtCTCbDYDB7l51jn0AaBhT94Tes4zEVZCw==/-4_5v7HrkFVeb_I-njXJgUD9yA6K3RHSq5_kDfoyAIT3ow-djTHGO9K6TEyU0G-u38QQze8PpBd6N-iU4KCEIA==/name" | trim | quote }}
    email = {{ protonPass "pass://lyJLrLkUukBTAmlCxZkSjgakUVfyqPkDTsJMnO7qZHaYIgBUmsagWtCTCbDYDB7l51jn0AaBhT94Tes4zEVZCw==/-4_5v7HrkFVeb_I-njXJgUD9yA6K3RHSq5_kDfoyAIT3ow-djTHGO9K6TEyU0G-u38QQze8PpBd6N-iU4KCEIA==/email" | trim | quote }}
    username = {{ protonPass "pass://lyJLrLkUukBTAmlCxZkSjgakUVfyqPkDTsJMnO7qZHaYIgBUmsagWtCTCbDYDB7l51jn0AaBhT94Tes4zEVZCw==/-4_5v7HrkFVeb_I-njXJgUD9yA6K3RHSq5_kDfoyAIT3ow-djTHGO9K6TEyU0G-u38QQze8PpBd6N-iU4KCEIA==/github_username" | trim | quote }}
    signingkey = {{ protonPass "pass://lyJLrLkUukBTAmlCxZkSjgakUVfyqPkDTsJMnO7qZHaYIgBUmsagWtCTCbDYDB7l51jn0AaBhT94Tes4zEVZCw==/-4_5v7HrkFVeb_I-njXJgUD9yA6K3RHSq5_kDfoyAIT3ow-djTHGO9K6TEyU0G-u38QQze8PpBd6N-iU4KCEIA==/key_id" | trim | quote }}

[core]
    autocrlf = input
    editor = neovide
    excludesFile = ~/.config/git/gitignore

[url "git@github.com:"]
    insteadOf = https://github.com/

[url "ssh://git@codeberg.org/"]
    insteadOf = https://codeberg.org/

[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/

[web]
    browser = "waterfox"

[init]
    defaultBranch = main

[commit]
    template = ~/.config/git/gitmessage
    gpgsign = true
