{{ if eq .chezmoi.os "linux" -}}
bash dot_scripts/install_homebrew.sh
bash dot_scripts/install_ansible.sh
{{ else if eq .chezmoi.os "darwin" -}}
bash dot_scripts/install_homebrew.sh
bash dot_scripts/install_ansible.sh
{{ end -}}