{{ if eq .chezmoi.os "linux" -}}
    #!/bin/bash

    if [ -f /etc/debian_version ]; then
        # Debian/Ubuntu
        sudo apt update
        sudo apt install -y ansible
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
        ansible-playbook ~/.setup/ansible/ubuntu-setup.yml -K
    elif [ -f /etc/arch-release ]; then
        # Arch Linux
        sudo pacman -Syu --noconfirm ansible
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
        ansible-playbook ~/.setup/ansible/arch-setup.yml -K
    else
        echo "Unsupported Linux distribution"
    fi

{{ else if eq .chezmoi.os "darwin" -}}
    #!/bin/bash
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

{{ end -}}
