{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = .chezmoi.osRelease.id -}}
{{- end -}}

{{- $ppEmail := protonPass "pass://lyJLrLkUukBTAmlCxZkSjgakUVfyqPkDTsJMnO7qZHaYIgBUmsagWtCTCbDYDB7l51jn0AaBhT94Tes4zEVZCw==/r_IeRiiM2mf8IjelEUzlnJUI763E-ncmcjyQeonO233b1qFk9UhkyVhKfz9wAnQHnx9pi-bzybxW5/email" -}}

encryption = "age"

[data]
    osid = {{ $osid | quote }}
    email = "{{ $ppEmail }}"

[edit]
    command = "code"
    args = ["--wait"]

[git]
    autoCommit = true
    autoPush = true

[proton_pass]
    command = "pass-cli"

[age]
    identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
    recipient = "age1aswg239d4ha5xaak3tya3u83dxupk2f8apn5v52wwgqshlydjewqv55446"