{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = .chezmoi.osRelease.id -}}
{{- end -}}

{{- $bwEmail := bitwardenFields "item" "bitwarden" -}}

encryption = "age"

[data]
    osid = {{ $osid | quote }}
    email = "{{ (index $bwEmail "email").value }}"

[git]
    autoCommit = true
    autoPush = true

[bitwarden]
    command = "bw"
    unlock = "auto"

[age]
    identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
    recipient = "age1aswg239d4ha5xaak3tya3u83dxupk2f8apn5v52wwgqshlydjewqv55446"
