{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = .chezmoi.osRelease.id -}}
{{- end -}}
{{- $bwEmail := bitwardenFields "item" "bitwarden" -}}

encryption = "age"

[data]
    osid = {{ $osid | quote }}
    email = "{{ (index $bwEmail "email").value }}"

[git]
    autoCommit = true
    autoPush = true

[bitwarden]
    command = "bw"

[age]
    identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
    recipient = "age1hl4t7tvdks2mx8cr8xkp9uszw2yr2k9k0xp7whhl80svwu8q7y2sserjtz"
