{{- $gitConfig := bitwardenFields "item" "Git Config" -}}
[user]
    name = {{ (index $gitConfig "name").value | quote }}
    email = {{ (index $gitConfig "email").value | quote }}
    username = {{ (index $gitConfig "github_username").value | quote }}
    signingkey = {{ (index $gitConfig "key_id").value | quote }}

[core]
    editor = nvim
    excludesFile = ~/.gitignore
    autocrlf = input

[url "git@github.com:"]
    insteadOf = https://github.com/

[web]
    browser = "firefox"

[init]
    defaultBranch = main

[commit]
    template = ~/.gitmessage
    gpgsign = true
