{{- $gitConfig := bitwardenFields "item" "Git Config" -}}
[user]
    name = {{ $gitConfig.name. value | quote }}
    email = {{ $gitConfig.email.value | quote }}
    username = {{ $gitConfig.github_username. value | quote }}

[core]
    editor = code --wait
    excludesFile = ~/.gitignore
    autocrlf = input

[url "git@github. com:"]
    insteadOf = https://github.com/

[web]
    browser = "firefox"

[init]
    defaultBranch = main

[commit]
    template = ~/. gitmessage
