{{ if eq .osid "linux-cachyos" -}}
#!/bin/bash

# Install packages using paru
paru -S --needed --noconfirm {{ range .packages.linux.aur -}}
{{ . | quote }} {{ end }}

# Install packages using pacman
sudo pacman -S --needed --noconfirm {{ range .packages.linux.pacman -}}
{{ . | quote }} {{ end }}
{{ end -}}
