---
- name: Install packages for Linux systems
  hosts: localhost
  become: true
  gather_facts: false
  vars:
    pacman_packages: "{{ packages.linux.pacman }}"
    aur_packages: "{{ packages.linux.aur }}"
  tasks:
    - name: Ensure the system is up to date
      ansible.builtin.command:
        cmd: sudo pacman -Syu --noconfirm
      become: true

    - name: Install official packages from pacman
      ansible.builtin.package:
        name: "{{ item }}"
        state: present
      with_items: "{{ pacman_packages }}"
      when: ansible_facts['os_family'] == 'Archlinux'

    - name: Install paru (AUR Helper) if not installed
      ansible.builtin.command:
        cmd: |
          git clone https://aur.archlinux.org/paru.git &&
          cd paru &&
          makepkg -si --noconfirm &&
          cd .. &&
          rm -rf paru
      args:
        creates: /usr/bin/paru
      become: true

    - name: Install AUR packages using paru
      ansible.builtin.command:
        cmd: paru -S --noconfirm "{{ item }}"
      with_items: "{{ aur_packages }}"
      when: ansible_facts['os_family'] == 'Archlinux'
      become: true