{{- $ppForgejo := protonPass "pass://lyJLrLkUukBTAmlCxZkSjgakUVfyqPkDTsJMnO7qZHaYIgBUmsagWtCTCbDYDB7l51jn0AaBhT94Tes4zEVZCw==/r_IeRiiM2mf8IjelEUzlnJUI763E-ncmcjyQeonO233b1qFk9UhkyVhKfz9wAnQHnx9pi-bzybxW5/forgejo_hostname" -}}
# GitHub
Host github.com
  HostName github.com
  User git
  Port 22
  IdentityFile ~/.ssh/git/key
  IdentitiesOnly yes

# Forgejo
Host {{ $ppForgejo }}
  HostName {{ $ppForgejo }}
  User git
  Port 222
  IdentityFile ~/.ssh/git/key
  IdentitiesOnly yes

# Codeberg
Host codeberg.org
  HostName codeberg.org
  User git
  Port 22
  IdentityFile ~/.ssh/git/key
  IdentitiesOnly yes

# Proxmox VE hosts
Host pve*
  User root
  Port 5922
  IdentityFile ~/.ssh/proxmox/key

# All other hosts in the lab
Host *
  Port 5922
  User jntadmin
  IdentityFile ~/.ssh/lab/key
