{{- protonPass "pass://lyJLrLkUukBTAmlCxZkSjgakUVfyqPkDTsJMnO7qZHaYIgBUmsagWtCTCbDYDB7l51jn0AaBhT94Tes4zEVZCw==/ken3t6TVFoOlGrzvmALULmtmnP04PkzHhrgsilZNd5mzGyd7XcmGFpVB3F8BWAWpAAiv0GHozX4rmeXo1j-WuQ==/private_key" -}}
