"$schema" = 'https://starship.rs/config-schema.json'

format = """
[╭─](bold dimmed)\
$os\
$username\

[@](bold white)\
$hostname\
[ in ](bold white)\
$directory\
$git_branch\
$git_status\
$fill\
$status\
$cmd_duration\
$line_break\
[╰](bold dimmed)\
$python\
$character"""

[fill]
symbol = " "

[os]
format = '[$symbol]($style) '
disabled = false

[username]
show_always = true
format = "[$user]($style)"
style_user = "bold pink"
style_root = "bold pink"

[hostname]
ssh_only = false
format = "[$hostname]($style)"
style = "bold yellow"

[directory]
format = "[$path]($style)"
style = "bold green"
truncation_length = 3
truncate_to_repo = false
home_symbol = "⌁"

[git_branch]
format = "[ \\([$branch]($style)\\)]($style)"
style = "bold cyan"

[git_status]
format = "([\\[$all_status$ahead_behind\\]]($style))"
style = "bold yellow"
conflicted = "="
ahead = "⇡${count}"
behind = "⇣${behind_count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
untracked = "?"
stashed = "$"
modified = "!"
staged = "+"
renamed = "»"
deleted = "✘"

[python]
format = "[(\\(${virtualenv}\\))]($style)"
style = "bold cyan"

[character]
success_symbol = "[─λ](bold dimmed)"
error_symbol = "[─λ](bold dimmed)"
vimcmd_symbol = "[─\\[n\\]─λ](bold red)"
vimcmd_visual_symbol = "[─\\[v\\]─λ](bold purple)"
vimcmd_replace_symbol = "[─\\[r\\]─λ](bold cyan)"

[status]
disabled = false
format = "[$status]($style) "
style = "bold red"
success_symbol = ""

[cmd_duration]
min_time = 0
format = "[(took $duration)]($style) "
style = "bold blue"

[line_break]
disabled = false

[os.symbols]
Alpine = " "
AlmaLinux = " "
Arch = " "
CachyOS = " "
CentOS = " "
Debian = " "
Fedora = " "
Linux = " "
Macos = " "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Ubuntu = " "
Unknown = " "
