# Lambda-inspired Starship theme

format = """
[╭─](bold dimmed)\
$username\
[ at ](bold white)\
$hostname\
[ in ](bold white)\
$directory\
$git_branch\
$git_status\
$fill\
$status\
$cmd_duration\
$line_break\
[╰](bold dimmed)\
$python\
$character"""

[fill]
symbol = " "

[username]
show_always = true
format = "[$user]($style)"
style_user = "bold #df005f"
style_root = "bold #df005f"

[hostname]
ssh_only = false
format = "[$hostname]($style)"
style = "bold #df5f00"

[directory]
format = "[$path]($style)"
style = "bold #87ff00"
truncation_length = 3
truncate_to_repo = false
home_symbol = "⌁"

[git_branch]
format = "[ \\([$branch]($style)\\)]($style)"
style = "bold #5fdfff"

[git_status]
format = "([\\[$all_status$ahead_behind\\]]($style))"
style = "bold #df5f00"
conflicted = "="
ahead = "⇡${count}"
behind = "⇣${behind_count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
untracked = "?"
stashed = "$"
modified = "!"
staged = "+"
renamed = "»"
deleted = "✘"

[python]
format = "[(\\(${virtualenv}\\))]($style)"
style = "bold #5fdfff"

[character]
success_symbol = "[─λ](bold dimmed)"
error_symbol = "[─λ](bold dimmed)"
vimcmd_symbol = "[─\\[n\\]─λ](bold red)"
vimcmd_visual_symbol = "[─\\[v\\]─λ](bold magenta)"
vimcmd_replace_symbol = "[─\\[r\\]─λ](bold cyan)"

[status]
disabled = false
format = "[$status]($style) "
style = "bold red"
success_symbol = ""

[cmd_duration]
min_time = 0
format = "[(took $duration)]($style) "
style = "bold blue"

[line_break]
disabled = false