{{ if eq .osid "cachyos" -}}

{{ $packages := list
     "firefox"
      -}}


{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}pacman -R --noconfirm {{ $packages | join " " }}

{{ end -}}