#!/usr/bin/env bash

set -euo pipefail

{{ if eq .osid "ubuntu" }}

# Install packages using apt
sudo apt install -y{{- range .packages.apt }} {{ . | quote }}
{{- end }}

# Install packages using snapd
{{- range .packages.snaps }}
sudo snap install {{ . | quote }} --classic
{{- end }}

{{ end }}
