#!/usr/bin/env bash
{{ if or (eq .osid "cachyos") (eq .osid "arch") -}}

# Ensure aura is installed
if ! command -v aura &> /dev/null; then
    echo "aura is not installed. Please install the aura binary before running this script."
    exit 1
fi

# Install packages using pacman
sudo pacman -S --needed --noconfirm {{ range .packages.pacman -}}
{{ . | quote }} {{ end }}

# Install packages using yay
aura -S --needed --noconfirm {{ range .packages.aur -}}
{{ . | quote }} {{ end }}

# Install packages using flatpak
flatpak install {{ range .packages.flatpak -}}
{{ . | quote }} {{ end }}

{{ if eq .chezmoi.hostname "BigWoke" -}}
# Install bigwoke specific applications
sudo pacman -S --needed --noconfirm {{ range .packages.woke_pacman -}}
{{ . | quote }} {{ end }}
aura -S --needed --noconfirm {{ range .packages.woke_aur -}}
{{ . | quote }} {{ end }}
sudo systemctl enable --now input-remapper # enable input-remapper
# End of install for bigwoke specific applications

{{ end -}}
{{ end -}}
