{{ if eq .osid "linux-ubuntu" -}}
#!/bin/bash


# Ensure ansible is installed
if ! command -v ansible &> /dev/null; then
    echo "ansible is not installed. Installing ansible..."
    sudo apt update
    sudo apt install software-properties-common
    sudo add-apt-repository --yes --update ppa:ansible/ansible
    sudo apt install ansible ansible-lint
fi

# Ensure opentofu is installed
if ! command -v opentofu &> /dev/null; then
    echo "opentofu is not installed. Installing opentofu..."
    # Download the installer script:
    curl --proto '=https' --tlsv1.2 -fsSL https://get.opentofu.org/install-opentofu.sh -o install-opentofu.sh
    chmod +x install-opentofu.sh
    ./install-opentofu.sh --install-method deb
    rm -f install-opentofu.sh
fi

sudo apt-get update
sudo apt-get install -y \
{{ range .packages.linux.apt -}}
{{ . | quote }} \
{{ end -}}
{{ end -}}