#!/bin/bash
set -euo pipefail

{{ if eq .osid "ubuntu" }}
# Install packages using apt
sudo apt update
sudo add-apt-repository --yes --update ppa:ansible/ansible
sudo apt install -y{{- range .packages.apt {{ . | quote }}{{- end }}


{{ end }}
