#!/usr/bin/env bash
{{ if or (eq .osid "cachyos") (eq .osid "arch") -}}

# Ensure yay is installed
if ! command -v yay &> /dev/null; then
    echo "yay is not installed. Please install the yay binary before running this script."
    exit 1
fi

# Install packages using pacman
sudo pacman -S --needed --noconfirm {{ range .packages.pacman -}}
{{ . | quote }} {{ end }}

# Install packages using yay
yay -S --needed --noconfirm {{ range .packages.aur -}}
{{ . | quote }} {{ end }}

# Install packages using flatpak
flatpak install {{ range .packages.flatpak -}}
{{ . | quote }} {{ end }}

{{ if eq .chezmoi.hostname "BigWoke" -}}
# Install bigwoke specific applications
sudo pacman -S --needed --noconfirm goxlr-utility sudo cachyos-gaming-meta
yay -S --needed --noconfirm goxlr-utility-ui input-remapper-bin
flatpak install flathub com.core447.StreamController
{{ end -}}
{{ end -}}
