* {
    font-family: "Hack", monospace;
}

window {
    background-color: transparent;
}

#input {
    margin: 5px;
    border: 1px #5b595c;
    border-style: solid;
    border-radius: 10px;
    background-color: #2d2a2e;
    color: #fcfcfa;
    outline-color: #2d2a2e;
}

#input:focus {
    box-shadow: rgba(255, 216, 102, 0.4) 0px 0px 0px 2px, rgba(255, 216, 102, 0.65) 0px 4px 6px -1px, rgba(255, 216, 102, 0.08) 0px 1px 0px inset;
}

/* #inner-box { */
/* 	background-color: #2d2a2e; */
/* } */

#outer-box {
    margin: 2px;
    padding: 10px;
    border: 1px #5b595c;
    border-style: solid;
    border-radius: 20px;
    background-color: #2d2a2e;
}

#scroll {
    margin: 5px;
}

#text {
    padding: 4px;
    color: #fcfcfa;
}

#entry:nth-child(even){
    background-color: #403e41;
}

#entry:selected {
    background-color: #5b595c;
}

#text:selected {
    background: transparent;
}
