* {
  font-family: Inter Medium;
}

window {
  margin: 1px;
  border: 10px solid rgb(39, 39, 42);
  border-radius: 10px;
}

#input {
  margin:  5px;
  border-radius: 0px;
  border: none;
  border-bottom: 0px solid rgb(254, 254, 254);
  background-color: rgb(27, 27, 29);
  color: rgb(254, 254, 254);
}

#inner-box {
  margin: 5px;
  background-color: rgb(27, 27, 29);
}

#outer-box {
  margin: 3px;
  padding: 20px;
  background-color:  rgb(27, 27, 29);
  border-radius: 10px;
}

#text {
  margin: 5px;
  color: rgb(254, 254, 254);
}

#entry: selected {
  background-color: rgb(235, 49, 49);
}

#text:selected {
  text-decoration-color: rgb(254, 254, 254);
  color: rgb(254, 254, 254);
}