{{- protonPass "pass://lyJLrLkUukBTAmlCxZkSjgakUVfyqPkDTsJMnO7qZHaYIgBUmsagWtCTCbDYDB7l51jn0AaBhT94Tes4zEVZCw==/itNPBtpQfukzRpdimVXdB_qzRjucdlxPiURqaHf1NGC2KfcJVs6mb3Ix3D18tXi_9CsKX1pn9w9tz/privateKey" -}}
