{{- protonPass "pass://lyJLrLkUukBTAmlCxZkSjgakUVfyqPkDTsJMnO7qZHaYIgBUmsagWtCTCbDYDB7l51jn0AaBhT94Tes4zEVZCw==/rstC6mc9XedYWeMcg149DTeb1hRRc2xlihU49B-DKhn2d89fIEci8cVvnETO9wF7xbHbyvyRCj2uzjEz2JgleQ==/private_key" -}}
