# Disable auto-update
DISABLE_AUTO_UPDATE="true"

{{ if eq .chezmoi.os "darwin" -}}
# Load Homebrew only if dawwin
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}

# Defer plugin loading
OMZ_LAZY_LOAD=true

# fpath setup (before plugins)
fpath+=${ZSH_CUSTOM:-${ZSH:-~/.oh-my-zsh}/custom}/plugins/zsh-completions/src

# --- load plugins
plugins=( aliases ansible archlinux brew bun chezmoi colored-man-pages copyfile copypath genpass git opentofu pip starship sudo systemd uv vscode zsh-autosuggestions zsh-interactive-cd )

# --- Oh My Zsh Core Initialization
source $OMZSH/oh-my-zsh.sh

# ~/.config/zsh/.zshrc — loads every fragment in numeric order
for _file in "${ZDOTDIR}"/conf.d/*.zsh(N); do
  source "$_file"
done
unset _file