ZSH_THEME="duellj"
DISABLE_AUTO_UPDATE="true"
OMZ_LAZY_LOAD=true

{{ if eq .chezmoi.os "darwin" -}}
# Load Homebrew environment on macOS
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

# fpath setup (must run BEFORE oh-my-zsh runs compinit)
fpath+=${ZSH_CUSTOM:-${ZSH:-~/.oh-my-zsh}/custom}/plugins/zsh-completions/src

# Oh My Zsh Plugins
plugins=(
  aliases
  ansible
  {{- if eq .chezmoi.os "darwin" }}
  brew
  {{- end }}
  bun
  chezmoi
  colored-man-pages
  copyfile
  copypath
  genpass
  git
  opentofu
  pip
  sudo
  uv
  vscode
  zsh-autosuggestions
  zsh-interactive-cd
  {{- if eq .chezmoi.os "linux" }}
  archlinux
  systemd
  {{- end }}
)

# Load Oh My Zsh Core
source $OMZSH/oh-my-zsh.sh

# Load modular conf.d fragments (aliases, eza config, compdef, functions)
for _file in "${ZDOTDIR:-$HOME/.config/zsh}"/conf.d/*.zsh(N); do
  source "$_file"
done
unset _file
